/* Alap lista stílusok */
mat-nav-list {
    background-color: #fff; /* Fehér háttér */
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Finom árnyék */
  }
  
  /* Listaelemek alap stílusai */
  mat-nav-list a {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    text-decoration: none;
    color: #333; 
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    transition: all 0.3s ease-in-out; 
    margin: 8px 0;
  }
  

  mat-nav-list a:hover {
    background-color: #f5f5f5; 
    color: #469df3; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
  }
  
 
  mat-nav-list a.active-list-item {
    background-color:  #469df3; 
    color: white;
    transform: scale(1.05); 
  }
  
  
  mat-nav-list mat-icon {
    margin-right: 16px;
    color: inherit;
    font-size: 22px;
    transition: color 0.3s ease;
  }
  

  mat-nav-list a:hover mat-icon {
    color: black; 
  }
  

  mat-nav-list a[routerLink='/profile'], mat-nav-list a[routerLink='/login'] {
    font-weight: 500;
    letter-spacing: 1px;
  }


  mat-nav-list span {
    flex: 1;
    font-weight: 400;
    font-size: 17px;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }
  
  
  mat-nav-list a:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12); 
    transition: all 0.3s ease-in-out;
  }
  

@media (min-width: 601px) and (max-width: 900px) {
    mat-nav-list {
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    }
  
    mat-nav-list a {
      padding: 14px 18px;
      font-size: 16px;
    }
  
    mat-nav-list mat-icon {
      font-size: 22px;
    }
  
    mat-nav-list span {
      font-size: 16px;
    }
  }
  
  
  @media (min-width: 901px) {
    mat-nav-list {
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
  
    mat-nav-list a {
      padding: 16px 20px;
      font-size: 17px;
    }
  
    mat-nav-list mat-icon {
      font-size: 24px;
    }
  
    mat-nav-list span {
      font-size: 17px;
    }
  }