<body>
    <div class="product-list">
        <div class="header-container">
            <h1>Termékek</h1>
            <input type="text" [(ngModel)]="searchTerm" placeholder="Keresés..." class="search-box">
            <select [(ngModel)]="selectedCategory" class="category-filter">
            <option value="">Összes</option>
            <option *ngFor="let category of uniqueCategories" [value]="category">{{ category }}</option>
            </select>
        </div>
        
        <div class="grid-container">
            <mat-card *ngFor="let product of filteredProducts()" class="product-card">
            <img [src]="product.image" alt="{{ product.name }}" />
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-content>
                <p>Kategória: {{ product.category }}</p>
                <p>Ár: {{ product.price | price }}</p>
                <label [for]="'quantity-' + product.id">Mennyiség:</label>
                <input type="number" [id]="'quantity-' + product.id" min="1" [(ngModel)]="product.selectedQuantity" />
            </mat-card-content>
            <button mat-raised-button color="accent" (click)="addToCart(product)">Kosárba</button>
            </mat-card>
        </div>
        <div *ngIf="filteredProducts().length === 0" class="no-results">
            <p>Nincs találat a keresési feltételek alapján.</p>
        </div>
        <button class="kosarMegtekintes" mat-raised-button color="primary" [routerLink]="'/cart'">Kosár megtekintése</button>
    </div>
    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <h3>Kapcsolat</h3>
                <p><strong>Telefon:</strong> +36 1 234 5678</p>
                <p><strong>Email:</strong> info&#64;webshop.hu</p>
            </div>
            <div class="social-media">
                <h3>Kövess minket!</h3>
                <a href="#" class="social-link">Facebook</a> | 
                <a href="#" class="social-link">Instagram</a> | 
                <a href="#" class="social-link">Twitter</a>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Autoalkatrész Webshop. Minden jog fenntartva.</p>
            </div>
        </div>
    </footer>
</body>