.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

.logo{
    font-size: 1.5rem;
    font-weight: bold;
  }

.nav-button {
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    color: black;
    padding: 10px 20px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 30px; /* Ellipszis forma */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.nav-button:hover {
    background-color: #d1e7ff; /* Hover háttérszín */
    color: #3f51b5; /* Hover szövegszín */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Enyhe árnyék */
    cursor: pointer;
  }

.nav-button:focus {
    outline: none;
  }

.spacer {
    flex: 1;
  }

mat-sidenav-container {
  height: 100%;
}

mat-toolbar{
  mat-icon {
    font-size: 28px; /* Növelt ikon méret */
    margin-right: 12px; /* Növelt margó a szomszédos elemektől */
    transition: color 0.3s ease, transform 0.3s ease; /* Animáció a szín és a méret változásához */
    cursor: pointer; /* Kéz ikon mutatása */ /* Animáció a szín és a méret változásához */
  }
}


mat-sidenav {
  background-color: #fff; /* Fehér háttér */
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15); /* Árnyék a menü oldalon */
  border-radius: 0 8px 8px 0; /* Kerekített sarkok csak a jobb oldalon */
  padding: 16px; /* Belső margó */
}

mat-sidenav.mat-drawer-opened {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateX(0); /* Sidenav ki-be csúsztatása */
}

/* mat-sidenav bezárás animáció */
mat-sidenav.mat-drawer-closed {
  transform: translateX(100%); /* Elrejtés jobbra */
}


.menu-toggle-button {
  display: none; /* Alapértelmezés szerint rejtett */
  position: absolute; /* Rögzített pozíció mobilon */
  right: 16px; /* Jobb oldali távolság */
  z-index: 1000; /* A gomb mindig felül lesz */
  background-color: transparent; /* Átlátszó háttér */
  border: none; /* Nincs keret */
  cursor: pointer; /* Kéz mutató */
  padding: 10px;
}

@media (max-width: 768px) {
  .menu-toggle-button {
      display: block;
  }
  
  nav ul {
      display: none;
  }
}