.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

.logo{
    font-size: 1.5rem;
    font-weight: bold;
  }

.nav-button {
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    color: black;
    padding: 10px 20px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 30px; /* Ellipszis forma */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.nav-button:hover {
    background-color: #d1e7ff; /* Hover háttérszín */
    color: #3f51b5; /* Hover szövegszín */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Enyhe árnyék */
    cursor: pointer;
  }

.nav-button:focus {
    outline: none;
  }

.spacer {
    flex: 1;
  }

mat-sidenav-container {
  height: 100%;
}

mat-toolbar{
  mat-icon {
      font-size: 28px; /* Növelt ikon méret */
      margin-right: 2px; /* Növelt margó */
      color:  black; /* Alap szín */
      transition: color 0.3s ease, transform 0.3s ease; /* Animáció a szín és a méret változásához */
  }
}

mat-sidenav {
  border-radius: 0;
}

.menu-toggle-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle-button {
      display: block;
  }
  
  nav ul {
      display: none;
  }
}