<div class="login-container">
  <h1>Bejelentkezés</h1>
  <form [hidden]="!showLoginForm" [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="pelda@gmail.com" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" placeholder="************" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Bejelentkezés</button>
    <button mat-flat-button [routerLink]="'/signup'">Regisztráció</button>

    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>
  </form>
</div>
