<body>
    <div class="profile-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>User Profile</mat-card-title>
            <mat-form-field appearance="outline">
              <mat-label>Select Profile</mat-label>
              <mat-select [value]="selectedIndex" (selectionChange)="reload($event.value)">
                <mat-option *ngFor="let profile of ProfileObject; trackBy: trackByIndex" [value]="profile.id">
                  {{ profile.name.firstname }} {{ profile.name.lastname }} <!-- Felhasználó neve -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-header>
      
          <mat-card-content>
            <div class="profile-info">
              <div class="avatar-container">
                <div class="avatar mat-elevation-z2">
                  {{ ProfileObject[selectedIndex]?.avatar }}
                </div>
              </div>
              <div class="user-details">
                <h3 class="user-name">{{ userName }}</h3> <!-- Felhasználó neve -->
                <div class="user-email">
                  <mat-icon>email</mat-icon>
                  <span>{{ userEmail }}</span> <!-- Felhasználó email címe -->
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
</body>
  