<body>
  <div class="profile-container">
    <div class="profile-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Felhasználói fiók</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-info">
            <div class="avatar-container">
              <div class="avatar mat-elevation-z2">
                {{ ProfileObject[selectedIndex]?.avatar }}
              </div>
            </div>
            <div class="user-details">
              <h3 class="user-name">Email címed:</h3>
              <div class="user-email">
                <mat-icon>email</mat-icon>
                <span>{{ userEmail }}</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="profile-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Rendelések</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-info">
            <div class="user-details">
              <h3 class="user-name">Rendeléseid</h3>
              <div class="user-email">
                <mat-icon>sort</mat-icon>
                <span>Hamarosan...</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="profile-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Beállítások</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="profile-info">
            <div class="user-details">
              <h3 class="user-name">Fiók beállításai</h3>
              <div class="user-email">
                <mat-icon>settings</mat-icon>
                <span>A beállítások módosítása hamarosan...</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>
<footer>
  <div class="footer-content">
      <div class="contact-info">
          <h3>Kapcsolat</h3>
          <p><strong>Telefon:</strong> +36 1 234 5678</p>
          <p><strong>Email:</strong> info&#64;webshop.hu</p>
      </div>
      <div class="social-media">
          <h3>Kövess minket!</h3>
          <a href="#" class="social-link">Facebook</a> | 
          <a href="#" class="social-link">Instagram</a> | 
          <a href="#" class="social-link">Twitter</a>
      </div>
      <div class="footer-bottom">
          <p>© 2025 Autoalkatrész Webshop. Minden jog fenntartva.</p>
      </div>
  </div>
</footer>
