<div class="checkout-container">
    <h1>Fizetés</h1>
  
    <div class="order-summary">
      <h2>Rendelés összegzése</h2>
      <table class="order-table">
        <thead>
          <tr>
            <th>Termék képe</th>
            <th>Termék</th>
            <th>Egységár</th>
            <th>Mennyiség</th>
            <th>Összesen</th>
            <th>Művelet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td><img [src]="item.image" alt="{{ item.name }}" class="cart-item-image" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price | currency: 'HUF ' }}</td>
            <td>
              <button class="quantity-btn" (click)="decreaseQuantity(item)">−</button>
              {{ item.quantity }}
              <button class="quantity-btn" (click)="increaseQuantity(item)">+</button>
            </td>
            <td>{{  item.price * item.quantity | discountPrice:10 | currency: 'HUF ' }}</td>
            <td>
              <button class="delete-btn" (click)="removeItem(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="total">
        <h3>Bruttó végösszeg: {{ calculateTotal() | currency: 'HUF ' }}</h3>
      </div>
    </div> 
    <button class="payment-button" (click)="confirmPayment()">Fizetés</button>
  </div>
  